/* CSS file */
Application {
	background-image:Embed("../assets/background.png");
	background-repeat:repeat;
	border-skin:ClassReference("com.degrafa.skins.CSSSkin");
}

.box {
	border-skin:ClassReference("com.origo.skins.BoxSkin");
}

.smallText {
	color:#4e4e4e;
	font-family:Verdana;
	font-size: 9;
}